---
layout: default
---
<div class="container w">
  <div class="row centered">
    <br><br>

    <div class="col-lg-12">
      <h4>WHO AM I?</h4>
      <p>I'm Sarah, a freelance web designer and web developer living in The Netherlands. I have been working with companies large and small for over 4 years. I specialise in Design & Development, mostly UI/UX, helping clients and their projects get the bests results, and look the best.</p>

      <p>I have always loved to design and develop websites, apps and print work, and always love learning new technologies or techniques to make my projects run smoother and work better.</p>

      <p>I currently live in The Netherlands, and previously lived in San Francisco working freelance with startups and small companies working on their websites and apps, with designs, UX and improving conversions and sales, or just building great websites for local companies. </p>
      <p><a target="_blank" href="http://twitter.com/mrsdougan">@mrsdougan</a></p>
    </div><!-- col-lg-3 -->
  </div><!-- row -->
  <br>
  <br>
</div><!-- container -->


<div id="r">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>INTERESTED IN WORKING WITH ME?</h4>
        <p>Great! Send me a message with the project details and I will be in touch soon!</p>
        <a style="color:#fff" href="mailto:sarahdougan@me.com">sarahdougan@me.com</a>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div>