---
layout: default
---

<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>Web design & development</h1>
				<h2>UI & UX Design</h2>
				<h3>Availible from August 2014</h3>
				</div>
			</div>
		</div>
	</div>


	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<i class="fa fa-heart"></i>
				<h4>UI & UX DESIGN</h4>
				<p>I design interfacs for the web and apps.</br> I aim to help you and your clients get the best experience on your product. I create wire-frames, user stories and design assets. </p>
			</div>

			<div class="col-lg-4">
				<i class="fa fa-laptop"></i>
				<h4>FRONT-END DEVELOPMENT</h4>
				<p>I work with HTML5, CSS3, JS & PHP.</br> I create websites, landing pages, web apps and email templates. I also work with Wordpress, Drupal and other CMS'.</p>
			</div>

			<div class="col-lg-4">
				<i class="fa fa-bookmark"></i>
				<h4>OPTIMIZATION</h4>
				<p>Need help with A/B testing to get the best version of your product? I help to improve conversion on your website with your website flow and experience for your users.</p>
			</div>
		</div>
		<br>
		<br>
	</div>

<!-- 	<div id="dg">
		<div class="container">
			<div class="row centered">
				<h4>LATEST WORKS</h4>
				<br>
				<div class="col-lg-4">
					<div class="tilt">
					<a href="#"><img src="assets/img/p01.png" alt=""></a>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="tilt">
					<a href="#"><img src="assets/img/p03.png" alt=""></a>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="tilt">
					<a href="#"><img src="assets/img/p02.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	
	
	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>I CREATE DESIGNS AND EXPERIENCES THAT GET RESULTS</h4>
					<p>I have a great passion for working with companies and improving or building a great product, that they and their customers will love. I aim to get the best results for my clients, and to provide the best work and designs I can, that are not only beautiful, but functional.</p>
				</div>
			</div>
		</div>
	</div>
	

	<div class="container wb">
		<div class="row centered">
			<br><br>
			<div class="col-lg-8 col-lg-offset-2">
				<h4>INTERESTED IN WORKING WITH ME?</h4>
				<p>Great! Send me a message with the project details and I will be in touch soon!</p>
				<a style="color:#CD4487" href="mailto:sarahdougan@me.com">sarahdougan@me.com</a>
			<p><br/><br/></p>
			</div>
			<div class="col-lg-2"></div>

		</div>
	</div>
<!-- 
	<div class="soon">
		Coming soon..
	</div> -->