---
layout: default
---

<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>SERVICES I OFFER</b></h4>
				</div>
			</div>
		</div>	
	</div>


	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<i class="fa fa-heart"></i>
				<h4>DESIGN</h4>
				<p>I design interfacs for the web and apps.</br> I aim to help you and your clients get the best experience on your product. I create wire-frames, user stories and design assets. </p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-desktop"></i>
				<h4>FRONT-END DEVELOPMENT</h4>
				<p>I work with HTML5, CSS3, JS & PHP.</br> I create websites, landing pages, web apps and email templates. I also work with Wordpress, Drupal and other CMS'.</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-bookmark"></i>
				<h4>OPTIMIZATION</h4>
				<p>Need help with A/B testing to get the best version of your product? I help to improve conversion on your website with your website flow and experience for your users.</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
	</div><!-- container -->

	
	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>INTERESTED IN WORKING WITH ME?</h4>
					<p>Great! Send me a message with the project details and I will be in touch soon!</p>
					<a style="color:#fff" href="mailto:sarahdougan@me.com">sarahdougan@me.com</a>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div>
	