---
layout: default
---
<div class="container desc">
	<div class="row">
		<div class="col-lg-6 centered">
			<img src="http://f.cl.ly/items/081n1e3n2z3U280N2I46/cloakroom.jpg" alt="">
		</div><!-- col-lg-6 -->
		<div class="col-lg-6">
			<h4>The Cloakroom</h4>
			<p>With The Cloakroom my main goal was creating a website that appealed to the ideal customer base, with a lot of user research, user testing, and optimizing. I did a lot of A/B testing to see what styles and layout users preferred more. Starting off with wire-frames, then onto designing in Photoshop. After that </p>
			<p>
				<i class="fa fa-circle-o"></i> Web & Mobile Design<br/>
				<i class="fa fa-circle-o"></i> Front-end Development & repsonsive.<br/>
				<i class="fa fa-circle-o"></i> UI/UX<br/>
				<i class="fa fa-circle-o"></i> Twitter Bootstrap<br/>
				<i class="fa fa-link"></i> <a target="_blank" href="http://thecloakroom.nl">thecloakroom.nl</a>
			</p>
		</div>
	</div><!-- row -->

		
		<br><br>
		<hr>
		<br><br>
		<div class="row">
			<div class="col-lg-6 centered">
				<img src="http://f.cl.ly/items/3e2g210k3c1j401x3T0v/gramble.jpg" alt="">
			</div><!-- col-lg-6 -->
			<div class="col-lg-6">
				<h4>Gramble.com</h4>
				<p>Working with Gramble was great to get experience with some design geared towards gamers. I wokrked on the front-end of the website, build with HTML/CSS & PHP. I worked with the design team in helping on the redeign of the platform, UX and wire-framing. I worked making the website work repsonsive and look perfect on desktop, tablet and mobile. I worked on the sub-sites also for developers and charity login and admins. I designed and create HTML templates and optimized them to look perfect in all email clients and browsers.</p>
				<p>
					<i class="fa fa-circle-o"></i> Web Design<br/>
					<i class="fa fa-circle-o"></i> Front-end Development & repsonsive.<br/>
					<i class="fa fa-circle-o"></i> UI/UX<br/>
					<i class="fa fa-link"></i> <a target="_blank" href="http://gramble.com">Gramble.com</a>
				</p>
			</div>
		</div><!-- row -->

		<br><br>
		<hr>
		<br><br>
		<div class="row">
			<div class="col-lg-6 centered">
				<img src="http://f.cl.ly/items/37331E2w1c3a2k19263h/designbypaws.jpg" alt="">
			</div><!-- col-lg-6 -->
			<div class="col-lg-6">
				<h4>Design by paws</h4>
				<p>With designbypaws I worked on wire-frames, branding, UI/UX design, creating custom template for client sites, and the development also. I built the website with Ruby on Rails and using SASS & Compass. </p>
				<p>
					<i class="fa fa-circle-o"></i> Web Design<br/>
					<i class="fa fa-circle-o"></i> Web Development<br/>
					<i class="fa fa-circle-o"></i> Branding<br/>
					<i class="fa fa-circle-o"></i> UI/UX<br/>
					<i class="fa fa-link"></i> <a target="_blank" href="http://designbypaws.com">designbypaws.com</a>
				</p>
			</div>
		</div><!-- row -->

		<br><br>
		<hr>
		<br><br>
		<div class="row">
			<br><br>
			<div class="col-lg-6 centered">
				<img src="http://f.cl.ly/items/0J1a0T470P2z102L3d2s/liquor.png" alt="">
			</div><!-- col-lg-6 -->
			<div class="col-lg-6">
				<h4>Liquor.com</h4>
				<p>At Liquor.com I worked on many of their asstes, but mostly the website. I implented a new design into Wordpress and worked on itterating the design and updating the website. I created email templates and helped with the email campaigns. I also helped with their FB marketing, createing custom campaigns and competitions and designing them for FB.
				</p>
				<p>
					<i class="fa fa-circle-o"></i> Web Design<br/>
					<i class="fa fa-circle-o"></i> Front-end Development<br/>
					<i class="fa fa-circle-o"></i> Wordpress<br/>
					<i class="fa fa-link"></i> <a target="_blank" href="http://liquor.com">Liquor.com</a>
				</p>
			</div>
		</div><!-- row -->
		<br><br>
	</div><!-- container -->
